<header>
  <nav class="navbar navbar-expand-md navbar-light asu-nav bg-secondary fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <a class="navbar-brand  d-flex w-10 mr-auto" href="/"> Login System </a>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><b>Home</b> </a>
          </li>
           {{# if login}}
          <li class="nav-item">
            <a class="nav-link" href="/admin/test-page"><b>Pages</b> </a>
          </li>
          {{/if}}
        </ul>
        
          <div class="pull-right">
              <ul class="navbar-nav mr-auto">                  
                  {{# if login}}
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/logout"><b>Logout</b> </a>
                    </li>
                  {{else}}
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/signup"><b>sign-up</b> </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/login"><b>login</b> </a>
                    </li>
                   {{/if}} 

              </ul>
          </div>
      </div>
    </div>
  </nav>
</header>
<br>
<br>
<br>
