<div class="container">
    <div class="row">
        <div class="col-12 line_r text-center">
            <h1> All initial Home page content goes here .... </h1> <br>
            <h3>Go for <a href="/admin/login">Login</a> </h3>
            <p class="p-3"> <b>To Visit <a href="/admin/test-page">Pages</a> </b> </p>
            <br> <br> <br> <br><br>
        </div>
    </div>
</div>