<div class="container">
  <div class="text-center">
    <div class="text-danger">
      <h1>Testing Login System</h1>
      <h3 class="text-success">Welcome to Pages .. . .. ..</h3>
      <p class="p-3 text-dark"> <b>New System will be updated Soon</b> </p>
      <p class="text-dark"> <b>......</b> </p>
      <p class="text-dark"> <b>...</b> </p>
      <p class="text-dark"> <b>..</b> </p>
      <p class="text-dark"> <b>.</b> </p>
      <h4 class="text-info">That may be sample for blog system or Previous ToDo Nodejs Project</h4>
    </div>
  </div>
</div>